.App {
  text-align: center;
}
.a{
  color: #2d4499;
}
.table{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  table-layout: fixed;
}
.th{
  padding: 6px 0px;
  width: 20%;
  border-left: #133d34;
  border-right: #133d34;
  border-width: 0px 2px;
  border-style: solid;
}
.td{
  padding: 7px 8px;
  width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.td{
  border-left: #133d34;
  border-right: #133d34;
  border-width: 0px 2px;
  border-style: solid;
}

.first{
  border-color: #133d34;
  border-top-color: #ad6154;
  border-width: 2px;
  border-style: solid;
}
.tr:nth-child(even){  
  border-color: #133d34;
  border-width: 2px;
  border-style: solid;
}
.tr:nth-child(odd){
  border-color: #ad6154;
  border-width: 2px;
  border-style: solid;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
